In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
df = pd.read_csv("data.csv")
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/download.tensorflow.org/data/heart.csv)

In [3]:
df

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,Sri Lanka,-,-,Manchester,"Aug 21-25, 2024",Test
1,Pakistan,Bangladesh,-,-,Rawalpindi,"Aug 21-25, 2024",Test # 2544
2,West Indies,South Africa,South Africa,40 runs,Providence,"Aug 15-17, 2024",Test # 2543
3,West Indies,South Africa,drawn,-,Port of Spain,"Aug 7-11, 2024",Test # 2542
4,England,West Indies,England,10 wickets,Birmingham,"Jul 26-28, 2024",Test # 2541
...,...,...,...,...,...,...,...
4246,Heat,Stars,Stars,8 runs,Brisbane,"Dec 20, 2011",Twenty20
4247,Scorchers,Hurricanes,Hurricanes,31 runs,Perth,"Dec 18, 2011",Twenty20
4248,Strikers,Renegades,Strikers,67 runs,Adelaide,"Dec 18, 2011",Twenty20
4249,Stars,Thunder,Thunder,6 wickets,Melbourne,"Dec 17, 2011",Twenty20
4250,Sixers,Heat,Sixers,7 wickets,Sydney,"Dec 16, 2011",Twenty20

In [4]:
df.head(100)

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,Sri Lanka,-,-,Manchester,"Aug 21-25, 2024",Test
1,Pakistan,Bangladesh,-,-,Rawalpindi,"Aug 21-25, 2024",Test # 2544
2,West Indies,South Africa,South Africa,40 runs,Providence,"Aug 15-17, 2024",Test # 2543
3,West Indies,South Africa,drawn,-,Port of Spain,"Aug 7-11, 2024",Test # 2542
4,England,West Indies,England,10 wickets,Birmingham,"Jul 26-28, 2024",Test # 2541
...,...,...,...,...,...,...,...
95,Zimbabwe,India,India,10 wickets,Harare,"Jul 13, 2024",T20I # 2759
96,Kenya,Nigeria,Kenya,4 wickets,Nairobi,"Jul 13, 2024",T20I # 2757
97,Gibraltar,Norway,Norway,6 runs,Krefeld,"Jul 13, 2024",T20I # 2756
98,Belgium,Serbia,Belgium,77 runs,Krefeld,"Jul 12, 2024",T20I # 2755
99,Kenya,Nigeria,Kenya,29 runs,Nairobi,"Jul 12, 2024",T20I # 2754

In [5]:
df.describe()

       Team 1 Team 2 Winner     Margin    Ground    Match Date Scorecard
count    4251   4251   4251       4251      4251          4251      4251
unique    353    354    356        265       253          1600       744
top       CSK     MI     MI  7 wickets  Wankhede  Jun 16, 2024  Twenty20
freq      140    145    146        374       128            37      2360

In [6]:
df["Team 1"][0]

'England'

In [7]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,4241,4242,4243,4244,4245,4246,4247,4248,4249,4250
Team 1,England,Pakistan,West Indies,West Indies,England,Ireland,England,England,Bangladesh,Bangladesh,...,Strikers,Sixers,Thunder,Renegades,Hurricanes,Heat,Scorchers,Strikers,Stars,Sixers
Team 2,Sri Lanka,Bangladesh,South Africa,South Africa,West Indies,Zimbabwe,West Indies,West Indies,Sri Lanka,Sri Lanka,...,Hurricanes,Stars,Strikers,Scorchers,Sixers,Stars,Hurricanes,Renegades,Thunder,Heat
Winner,-,-,South Africa,drawn,England,Ireland,England,England,Sri Lanka,Sri Lanka,...,Hurricanes,Sixers,Thunder,Scorchers,Hurricanes,Stars,Hurricanes,Strikers,Thunder,Sixers
Margin,-,-,40 runs,-,10 wickets,4 wickets,241 runs,inns & 114 runs,192 runs,328 runs,...,14 runs,2 runs,6 wickets,8 wickets,42 runs,8 runs,31 runs,67 runs,6 wickets,7 wickets
Ground,Manchester,Rawalpindi,Providence,Port of Spain,Birmingham,Belfast,Nottingham,Lord's,Chattogram,Sylhet,...,Adelaide,Sydney,Sydney,Melbourne (Docklands),Hobart,Brisbane,Perth,Adelaide,Melbourne,Sydney
Match Date,"Aug 21-25, 2024","Aug 21-25, 2024","Aug 15-17, 2024","Aug 7-11, 2024","Jul 26-28, 2024","Jul 25-28, 2024","Jul 18-21, 2024","Jul 10-12, 2024","Mar 30-Apr 3, 2024","Mar 22-25, 2024",...,"Dec 28, 2011","Dec 27, 2011","Dec 23, 2011","Dec 22, 2011","Dec 21, 2011","Dec 20, 2011","Dec 18, 2011","Dec 18, 2011","Dec 17, 2011","Dec 16, 2011"
Scorecard,Test,Test # 2544,Test # 2543,Test # 2542,Test # 2541,Test # 2540,Test # 2539,Test # 2538,Test # 2537,Test # 2536,...,Twenty20,Twenty20,Twenty20,Twenty20,Twenty20,Twenty20,Twenty20,Twenty20,Twenty20,Twenty20

In [8]:
df

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,Sri Lanka,-,-,Manchester,"Aug 21-25, 2024",Test
1,Pakistan,Bangladesh,-,-,Rawalpindi,"Aug 21-25, 2024",Test # 2544
2,West Indies,South Africa,South Africa,40 runs,Providence,"Aug 15-17, 2024",Test # 2543
3,West Indies,South Africa,drawn,-,Port of Spain,"Aug 7-11, 2024",Test # 2542
4,England,West Indies,England,10 wickets,Birmingham,"Jul 26-28, 2024",Test # 2541
...,...,...,...,...,...,...,...
4246,Heat,Stars,Stars,8 runs,Brisbane,"Dec 20, 2011",Twenty20
4247,Scorchers,Hurricanes,Hurricanes,31 runs,Perth,"Dec 18, 2011",Twenty20
4248,Strikers,Renegades,Strikers,67 runs,Adelaide,"Dec 18, 2011",Twenty20
4249,Stars,Thunder,Thunder,6 wickets,Melbourne,"Dec 17, 2011",Twenty20
4250,Sixers,Heat,Sixers,7 wickets,Sydney,"Dec 16, 2011",Twenty20

In [12]:
df.sort_index(axis=0,ascending=False)

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
4250,Sixers,Heat,Sixers,7 wickets,Sydney,"Dec 16, 2011",Twenty20
4249,Stars,Thunder,Thunder,6 wickets,Melbourne,"Dec 17, 2011",Twenty20
4248,Strikers,Renegades,Strikers,67 runs,Adelaide,"Dec 18, 2011",Twenty20
4247,Scorchers,Hurricanes,Hurricanes,31 runs,Perth,"Dec 18, 2011",Twenty20
4246,Heat,Stars,Stars,8 runs,Brisbane,"Dec 20, 2011",Twenty20
...,...,...,...,...,...,...,...
4,England,West Indies,England,10 wickets,Birmingham,"Jul 26-28, 2024",Test # 2541
3,West Indies,South Africa,drawn,-,Port of Spain,"Aug 7-11, 2024",Test # 2542
2,West Indies,South Africa,South Africa,40 runs,Providence,"Aug 15-17, 2024",Test # 2543
1,Pakistan,Bangladesh,-,-,Rawalpindi,"Aug 21-25, 2024",Test # 2544
0,England,Sri Lanka,-,-,Manchester,"Aug 21-25, 2024",Test

In [20]:
df[0]
# The KeyError: 0 you encountered typically means that you are trying to access a column in a Pandas DataFrame using df[0], but there is no column with the label 0.
# In Pandas, when you use df[...], the value inside the brackets is assumed to be the column label. If your DataFrame does not have a column named 0, it raises a KeyError.

KeyError: 0

In [15]:
df.columns

Index(['Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match Date',
       'Scorecard'],
      dtype='object')

In [19]:
df.columns["Team 1"]
# The IndexError you're encountering is due to attempting to access an element of df.columns using a string ("Team 1"). The df.columns attribute is an Index object that contains the column names, and it doesn't support accessing elements by column name directly using square brackets.

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [17]:
if "Team 1" in df.columns:
    print("Column exists")
else:
    print("Column does not exist")

Column exists

In [18]:
team1_column = df["Team 1"]
team1_column

0           England
1          Pakistan
2       West Indies
3       West Indies
4           England
           ...
4246           Heat
4247      Scorchers
4248       Strikers
4249          Stars
4250         Sixers
Name: Team 1, Length: 4251, dtype: object

In [21]:
team1_cell = df["Team 1"]["Team 1"]
# The KeyError: 'Team 1' you're seeing happens because you're trying to access a value in a DataFrame in a way that isn't correct. The line df["Team 1"]["Team 1"] is trying to first access the entire "Team 1" column, and then within that, it's trying to access an element labeled "Team 1", which doesn't exist as a label within the series.
team1_cell

KeyError: 'Team 1'

In [22]:
team1_cell = df.loc["Team 1", "Team 1"]
# The KeyError: 'Team 1' is occurring because you're trying to access a row labeled "Team 1" using df.loc["Team 1", "Team 1"], but "Team 1" is not a row label in your DataFrame's index.

KeyError: 'Team 1'

In [23]:
row = df.loc[df["Team 1"] == "Team 1"]
row

      Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
25    Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
69    Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
427   Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
799   Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
1213  Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
2241  Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
2244  Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
2291  Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
2559  Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard
3657  Team 1  Team 2  Winner  Margin  Ground  Match Date  Scorecard

In [24]:
df = df[df["Team 1"] != "Team 1"]
df

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,England,Sri Lanka,-,-,Manchester,"Aug 21-25, 2024",Test
1,Pakistan,Bangladesh,-,-,Rawalpindi,"Aug 21-25, 2024",Test # 2544
2,West Indies,South Africa,South Africa,40 runs,Providence,"Aug 15-17, 2024",Test # 2543
3,West Indies,South Africa,drawn,-,Port of Spain,"Aug 7-11, 2024",Test # 2542
4,England,West Indies,England,10 wickets,Birmingham,"Jul 26-28, 2024",Test # 2541
...,...,...,...,...,...,...,...
4246,Heat,Stars,Stars,8 runs,Brisbane,"Dec 20, 2011",Twenty20
4247,Scorchers,Hurricanes,Hurricanes,31 runs,Perth,"Dec 18, 2011",Twenty20
4248,Strikers,Renegades,Strikers,67 runs,Adelaide,"Dec 18, 2011",Twenty20
4249,Stars,Thunder,Thunder,6 wickets,Melbourne,"Dec 17, 2011",Twenty20
4250,Sixers,Heat,Sixers,7 wickets,Sydney,"Dec 16, 2011",Twenty20